.hourly-container {
    display: flex;
    background-image: linear-gradient(182deg, #4cbea0, #2f2580);
    color: #fff;
    padding: 20px; 
    border-radius: 7px;
    justify-content: space-between;
    gap: 1rem;
}