* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    font-family: sans-serif;
    background-color: #5c6d74;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 69.7%;
    margin: 2rem auto 0 auto;
}

.dayAndHour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}