 @import url(https://use.fontawesome.com/releases/v6.1.1/css/all.css);

 .card-container {
    background-image: linear-gradient(135deg, #4cbea0, #2f2580);
    color: #fff;
    padding: 20px 35px 18px 35px; 
    border-radius: 7px;   
    margin-top: 1rem;   
}

.icon-container {
    display: flex;
}

.weather {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.weather-icon {
    width: 80%;
    margin: 0 auto;
}

.temp-container {
    text-align: center;
}

.temp {
    font-size: 5.5rem;
    margin-top: 1rem;
}

.city {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 0.8rem;
}

.weather-type {
    font-size: 1.3rem;
    font-weight: 540;
    margin: 0 auto;
    margin-top: -0.7rem;
    word-break: break-all;
}

.details {
    margin: 0 auto;
    width: 80%;
    margin-top: 0.6rem;
    text-align: center;
}

.details ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0.9rem;
}

.details ul li {  
    display: flex;
    justify-content: space-between;
}

#details-heading {
    border-bottom: 2px solid #fff;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.details-topic {
    font-weight: 450;
}

.details-value {
    font-weight: 600;
}

#card-day {
    font-weight: bolder;
} 
