.daily-container {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(192deg, #4cbea0, #2f2580);
    color: #fff;
    padding: 20px; 
    border-radius: 7px;
}

.day-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-right: 1px solid #fff;
}

.day-container:nth-last-child(1) {
    border: none;
} 

.daily-weather-icon {
    width: 80%;
    margin: 0 auto;
}