.hour-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    border-right: 1px solid #fff;
    padding-right: 1.4rem;
    cursor: pointer;
}

.hour-container:nth-last-child(1) { 
    border: none;
    padding-right: 0.1rem;
}  

.hourly-weather-icon {
    width: 90%;
    margin: 0 auto;
}