.hour-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-right: 1px solid #fff;
}

.hour-container:nth-last-child(1) {
    border: none;
} 

.hourly-weather-icon {
    width: 85%;
    margin: 0 auto;
}